*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  


h2{
    text-align: left;
    background-color: goldenrod;

}

.container-fluid{
    background-color: goldenrod;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#navbarNavAltMarkup{
    font-weight: normal;
}

.d-block {
    height: 500px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

}
.usados-destacados{
    border: 2px solid black;
    margin: 30px;
    box-sizing: border-box;
    
}


.box{
    border: 1px solid goldenrod;
    height: 300px;
    margin: 30px;
}
.usados{
    text-align: center;
}


.km-destacados{
    border: 2px solid black;
    margin: 30px;
    box-sizing: border-box;
}

.km{
    text-align: center;
}


.footer{
    text-align: center;
}

.enlacesgenerales{
    text-align: center;
}

.form{
    display: grid;
    row-gap: 10px;
    max-width: 350px;
    margin: 0 auto;
    }
    

.button{
    display: block;
    margin:25px auto 0 auto;
    margin-bottom: 25px;
    width: 60px;
    
}